/* Use Google Fonts to import advanced and professional fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

/* Apply advanced fonts to different elements */
body {
    font-family: 'Montserrat', sans-serif;
    background-color: #efeeee;
    margin: 0;
    padding: 0;
    overflow-y: hidden;
    /* Hide vertical scrollbar */
}

/* Header */
header {
    background-color: #65adde;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    height: 50px;
}

/* Navigation */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
}

.logo img {
    max-height: 40px;
}

.nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-links li {
    margin: 0.5rem;
}

.nav-links a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: #FF6B6B;
}

/* Main Content */
main {
    overflow: hidden;
    height: calc(100vh - 50px);
    scroll-behavior: smooth;
    padding: 1rem;
}

.column {
    width: 100%;
    margin-bottom: 20px;
}

/* Idea Cards */
.idea-list {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 1rem;
    animation: fadeIn 2s ease;
    justify-content: space-between;
}

.idea-card {
    background-color: #ffffff;
    color: #333;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    text-align: center;
    margin-bottom: 20px;
    transition: transform 0.6s, box-shadow 0.6s;
    font-family: 'Font2', Georgia, 'Times New Roman';
}

.idea-card:hover {
    transform: translateY(-6px);
    box-shadow: 0 8px 1px #2404d757;
}

/* Company Motive Section */
.company-motive {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #ededed;
    font-style: normal;
    color: #060505;
    font-family: 'Font2', Georgia, 'Times New Roman';
}

.motive-text {
    flex: 1;
    text-align: center;
    margin-right: 0;
    margin-bottom: 1rem;
}

.motive-image {
    flex: 1;
    display: flex;
    justify-content: center;
}

.motive-image img {
    max-width: 100%;
    height: auto;
    border-radius: 15px;
    box-shadow: 0 2px 4px rgba(252, 252, 252, 0.1);
}

/* Footer */
footer {
    padding: 1rem 0;
    background-color: #094c78;
    color: #fff;
    text-align: center;
}

.footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.fa {
    padding: 10px;
    font-size: 20px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-envelope {
    background: #3B5998;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
}

.fa-instagram {
    background: #125688;
    color: white;
}

/* Section Styles */
section {
    margin-bottom: 2rem;
}

.section-heading {
    font-size: 24px;
    margin-bottom: 1rem;
    color: #1b79b7;
    font-weight: bold;
    font-family: 'Font2', sans-serif;
    text-align: center;
}

.section-content {
    font-size: 16px;
    font-family: 'Font1', sans-serif;
    text-align: justify;
    margin-bottom: 1rem;
}

.section-content ul {
    margin-left: 1rem;
    margin-bottom: 1rem;
}

.section-content li {
    list-style: disc;
}

/* Keyframes and other animations */
@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}
